<h1> <%= @total  %> Total Stores</h1>

<div class="stores">

<% @stores.each_with_index do |store, i| %>
  <div class="store-<%= i %>">
    <h3><%= link_to store.longName, search_store_path(store.storeId) %></h3>
    <ul>
      <li>City: <%= store.city %></li>
      <li>Distance: <%= store.distance %> miles</li>
      <li>Phone number: <%= store.phone %></li>
      <li>Store Type: <%= store.storeType %></li>
    </ul>
  </div>
<% end %>
</div>
